<!-- Basic Bootstrap Table -->
<div class="card">
  <h5 class="card-header">List Task</h5>
  <div class="table-responsive text-nowrap">
    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody class="table-border-bottom-0">
      <tr *ngFor="let itemTask of tasks; let i = index">
        <td>{{ i + 1 }}.</td>
        <td>{{ itemTask.title }}</td>
        <td><span class="badge bg-label-primary me-1">{{itemTask.completed}}</span></td>
        <td>
          <div class="demo-inline-spacing">
            <button type="button" class="btn btn-warning">Edit</button>
            <button type="button" class="btn btn-danger">Delete</button>
          </div>

        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--/ Basic Bootstrap Table -->
