<div class="container">
<h1 class="text-center">To-Do App</h1>
<hr>
  <form>
    <div class="form-group">
      <label for="itemTask">Task</label>
      <input type="text" class="form-control" id="itemTask" aria-describedby="itemTaskDescribed" placeholder="Enter new Tasks">
      <small id="itemTaskDescribed" class="form-text text-muted">Please add item in here.</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <hr>
  <app-table [listColumn]="columns" [listData]="data"></app-table>
</div>
